<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all" debug="false">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="INFO"/> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%F:%L] %m [%c{2}]%n"/>
		</layout>
	</appender>

	<appender name="ErrorLog" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="ERROR"/> 
		<param name="File" value="losm-error.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - %r [%t] %-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<appender name="DebugLog" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/> 
		<param name="File" value="losm-debug.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="10MB"/>
		<param name="MaxBackupIndex" value="1"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - %r [%t] %-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<category name="fr.insee.losm" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="Console"/>
		<appender-ref ref="DebugLog"/>
		<appender-ref ref="ErrorLog"/>
	</category>

	<root>
		<priority value="WARN"/>
		<appender-ref ref="Console"/>
		<appender-ref ref="DebugLog"/>
		<appender-ref ref="ErrorLog"/>
	</root>

</log4j:configuration>
